@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');


$background-color-main:white;
$primary-color: rgb(81, 68, 139);
$secondary-colour: wheat;
$font-secondary:rgb(5, 189, 250);
$font-logo: 'Sue Ellen Francisco', cursive;
$font-body: 'Nunito', sans-serif;



* {
  
    width:auto;
    height:auto;
    margin: 0;
    padding: 0;
    font-family: $font-body;
}

.navigation {

    img {
        height: 120px;
        width: auto;
    }

    display: inline-flex;
    align-items: center;
    width: 100%;
 
    .navigation-links {

        display: flex;
        align-items: center;
        display:flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 20px;
   
        .logo {
            
            font-family: $font-logo;
            color:$primary-color;
            font-size:60px;
            font-weight:bolder;
            text-decoration: none; 
        }

        .login{
            
            border-radius: 10px;
            font-family: $font-logo;
            font-size: 40px;
            font-weight:bolder;
            margin: 50px;
            text-decoration: none;
            color: $primary-color;
            border:solid;
            padding:0 45px;

            a, a:link, a:visited {
                font-size:40px;
                font-weight: bolder;
                color:$background-color-main;
            
            
                }
            }
        }
    }


.heading {
    padding:20px;
    font-size:45px;
    text-align: center;
    color:$font-secondary;

}


.div {
    display:grid;
    place-items: center;
    
    
    .image1 {
        width:60%;
        height:auto;
        padding:50px;
    }

}

.marketing {
  
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
.h2 {
    
    text-align:center;
    font-size:45px;
    color:$primary-color;
    
}
.h3{
    text-align: center;
    font-size: 40px;
    color:$font-secondary
}
.h4{
    text-align:center;
    font-size:25px;
    font-weight: 100;
    color:$primary-color;
}
}

.div1 {
    display:grid;
    place-items: center;

    
.button1 {
    background-color: $primary-color;
    border-radius: 10px;
    padding:20px;
    width:40vh;
    border:none;
    margin: 75px;
    
    a, a:link, a:visited {
        font-size:30px;
        font-weight: bolder;
        color:$background-color-main;
        text-decoration: none;
        }
    }
}

.h5{
    margin: 50px;
    text-align: center;
    font-size: 40px;
    color: $primary-color;
}

.budget {
    margin: 60px;
    font-size: 30px;
    color: $primary-color;
    display:flex;
    justify-content: space-between;
   
    .writing-left {
        padding: 80px 40px;
        width:50%;
    }
    .penguin-right {
         max-width:30%;
         max-height:25%
    
    }
}

.challenges {

 margin: 60px;
    font-size: 30px;
    color: $primary-color;
    display:flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    .writing-right {
        padding: 80px 40px;
        width:50%;

    }
    .penguin-left{
        max-width:40%;
        max-height:40%
    }
}

.reading {
        margin: 60px;
        font-size: 30px;
        color: $primary-color;
        display:flex;
        justify-content: space-between;
   
    .writing-left {
        padding: 80px 40px;
        width:50%;
   }

   .penguin-right {
        max-width:32%;
        max-height:250px;
        margin-top: 50px;
   }
}

.more {
    margin: 60px;
     font-size: 30px;
     color: $primary-color;
     display:flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    .writing-right {
        padding: 80px 40px;
        width:50%;

    }
    .penguin-left {
        max-width:35%;
        max-height:25%;
        margin-top:15px

    }


}
.footer {

height:auto;
padding:40px;
display:flex;
-ms-flex-align: baseline;
flex-direction: column;
background-color: $secondary-colour;

.button {
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    color: $primary-color;
    
}
}

