@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');


$background-color-main:white;
$primary-color: rgb(81, 68, 139);
$secondary-colour: wheat;
$font-secondary:rgb(5, 189, 250);
$font-logo: 'Sue Ellen Francisco', cursive;
$font-body: 'Nunito', sans-serif;



* {
  
    width:auto;
    height:auto;
    margin: 0;
    padding: 0;
    font-family: $font-body;
    color:$primary-color;
    

}

.navigation {
    height: 75px;
    display:flex;
    justify-content: space-between;
    padding: 40px 40px;
    
    align-items: center;
 
   
    .logo {
        
        font-family: $font-logo;
        font-size:50px;
        font-weight:bolder;
        text-decoration: none;
    }

    .button{
        
        padding: 15px 45px;
        background-color:white;
        border-style:solid;
        border-radius:10px;
        font-family: $font-logo;
        font-size:30px;
        font-weight:bolder;
        text-decoration: none;
      
    }

}

.heading {
    padding:20px;
    font-size:45px;
    text-align: center;
    color:$font-secondary;

}


.div {
    display:grid;
    place-items: center;
    
    .image1 {
        width:40%;
        height:auto;
    }

}

.footer {

height:100px;
padding:40px;
display:flex;
-ms-flex-align: baseline;
background-color: $secondary-colour;
}


